<div class="row justify-content-md-center">
	<form [formGroup]="searchForm" >

		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="CURP" (change)="onRadioChange($event.target.value)">
			<label class="form-check-label" for="inlineRadio1">CURP</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="RFC" (change)="onRadioChange($event.target.value)">
			<label class="form-check-label" for="inlineRadio2">RFC</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="PUC" (change)="onRadioChange($event.target.value)">
			<label class="form-check-label" for="inlineRadio3">Número PUC</label>
		</div>

		<div class="input-group input-group-sm mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="username_label">{{radioValue}}</span>
			</div>
			<input type="text" class="form-control" formControlName="numeroPuc" id="numeroPuc" autocomplete="off">
		</div>

		<!--div class="row justify-content-md-center">
			<button class="btn btn-success" [disabled]="searchForm.invalid" (click)="search()">Buscar</button>
		</div-->

		<div class="row justify-content-md-center">
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#tomaHuella" [disabled]="searchForm.invalid">
				Capturar huella
			</button>
		</div>

	</form>

	<div class="modal fade" id="tomaHuella" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="tomaHuellaLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="tomaHuellaLabel">Capturando de huella</h5>
					<button type="button" class="close" aria-label="Close">
					<span class="spinner-grow spinner-grow-sm text-success" role="status" aria-hidden="true"></span>
		  			<span class="sr-only">Loading...</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row justify-content-md-center">
							<video width="50%" height="50%" loop muted autoplay>
								<source src="../assets/images/fingerprint.mp4" type="video/mp4">
							</video>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal" (click)="search()">Listo</button>
				</div>
			</div>
		</div>
	</div>

</div>
<br>
<app-showuserdata *ngIf="userdataObs" [userdataObs]="userdataObs"></app-showuserdata>