.alert-danger{
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
    margin-bottom: 3px;
}

.container-error-message {
    padding: 3px;
}

.alert-success{
    color: #006600;
    background: #CCFFE5;
    border-color: #CCFFCC;
    margin-bottom: 5px;
}

.container-success-message {
    padding: 3px;
}